//FONTS
$font-montserrat: 'Montserrat', sans-serif;

//COLORS
$color-dark-red: #BE0000;
$color-med-red: #CC0000;
$color-light-red: #FF3540;

$color-white: #f7f7f7;
$color-bright-white: #FFFFFF;

$color-yellow: #f1c40f;
$color-blue: #3498db;
$color-orange: #e67e22;
$color-green: #2ecc71;

$color-black: #333;
$color-gray: #95a5a6;
$color-light-gray: #E0E1E0;
